root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[public/*.{js,html,css}]
indent_size = 4

[*.{cs,bat}]
end_of_line = crlf
indent_size = 4

[launcher/*.cs]
# Must stay pure ASCII (see CONTRIBUTING.md)
charset = latin1

[*.md]
trim_trailing_whitespace = false
